<html>

<head>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <h1>Order: {{order.title}}</h1>
    <a class="btn btn-primary" href="/edit_order/{{order.id}}" role="button">Edit Order</a>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
    Delete order
    </button>
    {{>delete_modal}}

    <hr>

    <div class="row">
        <div class="col-7">
            <input id='name_input' type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col"><button id='add-button' class="btn btn-primary " onclick="addItem('{{order.id}}', name_input)">Add</button></div>
    </div>
    <hr>

    <ul id='table' class="list-group checked-list-box" style="max-height: 60%; width:80% ;overflow: auto;">


        {{#order.items}}
        <li class="list-group-item flex-column align-items-start clearfix">
            
                
                <div class="d-flex  justify-content-between inner-class text-center" >
                    <input type="checkbox"  style="vertical-align:middle" {{#checked}}checked{{/checked}}{{^checked}} {{/checked}}
                     onclick="checkItem('{{order.id}}','{{id}}', this )" >
                    <h5 id = "text-name" class="mb-1 input-group-prepend float-left" {{#checked}} style="text-decoration:line-through"{{/checked}}>{{name}} </h5>
                    {{#deletable}}<button class="btn btn-outline-secondary" type="button" onclick="deleteItem('{{order.id}}','{{id}}')" >Delete</button>{{/deletable}}
                </div>
                
            </li>
        {{/order.items}}

        <!---->

    </ul>
    <hr>
    <a href="/">Back to Board</a>
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</html>